<form action='/posts/create' method="post"> 
    제목 : <input name='input_title' type="text">
    내용 : <input name='input_content' type="text">
    <button type="summit">Submit</button>    
    
</form>